<style>
ul {
	list-style-type: none;
}
</style>
<div>
	<table>
		<tr>
			<td><b>AGENT REQUESTS</b></td>
		</tr>
		<tr>
			<td>{{message}}
		</tr>
		<tr ng-repeat="req in allRequests">
			<td id="td{{req.csrId}}" width="50%">
				<ul>
					<li><b>First Name:</b> {{req.firstName}}</li>
					<li><b>Last Name:</b> {{req.lastName}}</li>
					<li><b>Email:</b> {{req.email}}</li>
					<li><b>Address:</b> {{req.adresa}}</li>
					<li><b>PIB:</b> {{req.pib}}</li>
					<li><b>Certificate Request:</b>
						<button id="{{req.csrId}}show" ng-click="showCSR(req.csrId)">Show</button>
						<button id="{{req.csrId}}hide" ng-click="hideCSR(req.csrId)"
							style="display: none">Hide</button></li>
					<li style="display: none" id="{{req.csrId}}csr">{{req.csr}}</li>
					<li><p></p>
						<button ng-click="approve(req.csrId, req.korisnikId)">Approve</button>
						<span> </span>
						<button ng-click="reject(req.csrId, req.korisnikId)">Reject</button></li>
						<li>_____________________________________________</li>
				</ul>
			</td>

		</tr>
	</table>
</div>