

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default" id="register">
			<div class="panel-heading">
				<h3 class="panel-title">Register</h3>
			</div>
			<div><h4 style="color:red">{{message}}</h4></div>
			<div class="panel-body">
				<form id="registerForm">
					<div class="form-group">
						<input type="text" class="form-control" id="firstName"
							placeholder="First Name" required name="firstname">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="lastName"
							placeholder="Last Name" required name="lastname">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="exampleInputUsername"
							placeholder="Username" required name="username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control"
							id="exampleInputPassword1" placeholder="Password" required
							name="password1">
					</div>

					<div class="form-group">
						<input type="password" class="form-control"
							id="exampleInputPassword2" placeholder="Confirm password"
							required name="password2">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail"
							placeholder="Email" required name="email">
					</div>
					<div>
						<label>Have a Property to Rent?</label> <input type="checkbox"
							class="form-control" id="agentCheck"  name="isAgent">
					</div>


					<br>

					<button type="submit" class="btn btn-default">Register</button>
				</form>
			</div>
		</div>

	</div>
</div>