<div class="row">
      <div class="col-md-6">
         <div class="panel panel-default" id="login">
            <div class="panel-heading">
               <h3 class="panel-title">Login</h3>
            </div>
            <h4 style="color:red">{{message}}</h4>
            <div class="panel-body">
               <form id="loginForm">
                  <div class="form-group">
                     <input type="text" class="form-control" id="exampleInputEmail1" placeholder="username"
                            required name="username">
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="password" required name="password">
                  </div>
                  <div class="well">
                  <br>
                     Try one of the following logins
                     <ul>
                        <li>admin & admin</li>
                        
                     </ul>
                  </div>
                  <button type="submit" class="btn btn-default">login</button>
               </form>
            </div>
         </div>

 
   </div>